<?php

define("DEVELOPER_TOKEN", 'your developer token');
define("CLIENT_SECRET", 'your client secret');
define("CLIENT_ID", 'your client id');
define("CUSTOMER_ID", 'your customer id');
define("ACCOUNT_ID", 'your account id');
define("REFRESH_TOKEN", 'your refresh token');
define("REDIRECT_URI", 'your redirect uri');