<?php

define("DEVELOPER_TOKEN", "your_developer_token");
define("CLIENT_SECRET", "your_client_secret");
define("CLIENT_ID", "your_client_id");
define("CUSTOMER_ID", "your_customer_id");
define("ACCOUNT_ID", "your_account_id");
define("REFRESH_TOKEN", "your_refresh_token");
define("REDIRECT_URI", "your_redirect_uri");